<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#2d2a2a">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#2d2a2a">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#2d2a2a">
	<!-- Twitter Card-->
	<meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Reanimate - Recovering Lost Media Histories">
  <meta name="twitter:description" content="Reanimate is an intersectional feminist publishing collective recovering lost histories of women and women of color in media">
  {% if page.image.feature %}
    <meta property="twitter:image" content="{{ site.url }}/assets/img/reanimatelogo.png">
  {% else %}
    <meta property="twitter:image" content="{{ site.url }}/assets/img/reanimatelogo.png">
  {% endif %}
<!--end Twitter card-->

<!-- Open Graph Tags -->
  <meta property="og:type" content="blog">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ title | escape }}">
  <meta property="og:description" content="{{ description | escape }}">
  {% if page.image.feature %}
    <meta property="og:image" content="{{ site.url }}assets/img/reanimatelogo.png">
  {% else %}
    <meta property="og:image" content="{{ site.url }}assets/img/reanimatelogo.png">
  {% endif %}
  <title>{{ title }}</title>

	<link href="https://fonts.googleapis.com/css?family=Finger+Paint|PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
