<aside class="sidebar">

  <div class="sidebar-container">
    <img src="{{ site.baseurl }}/assets/img/reanimatelogo.png" width="250" height="150"/>
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/news/">News</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/vision/">Vision</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/team/">Team</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/advisory/">Advisory Board</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
    </menu>

  </div>
</aside>
